.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 20px);
  margin-top: calc(-1 * 20px);
}

.gallery li {
  height: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  flex-basis: calc(100% / 4 - 20px);
  margin-left: 20px;
  margin-top: 20px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 0;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card img {
  margin-bottom: 5px;
}
